In [3]:
import pandas as pd
import os
import pandas as pd

datos_path = '/Users/tomasvazquez/Desktop/Facultad/Tesis/Datos/'

### Para generar el csv con los 3 años concatenados

In [38]:
GEN = pd.read_excel(datos_path+'GEN.xlsx', sheet_name='2021')

In [39]:
GEN2 = pd.read_excel(datos_path+'GEN.xlsx', sheet_name='2022')
GEN3 = pd.read_excel(datos_path+'GEN.xlsx', sheet_name='2023')

In [40]:
df_concatenado = pd.concat([GEN, GEN2, GEN3])

In [41]:
df_concatenado.to_csv(datos_path + 'GEN_total.csv', index=False)

In [42]:
GEN_loaded = pd.read_csv(datos_path+'GEN_total.csv')

/var/folders/pq/p8msjkrx53q8b1ts29trjghw0000gn/T/ipykernel_93294/81847354.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448) have mixed types. Specify dtype option on import or set low_memory=False.
  GEN_loaded = pd.read_csv(datos_path+'GEN_total.csv')

In [43]:
GEN_loaded['Fecha']

0         2021-07-01 00:00:00
1         2021-07-01 00:10:00
2         2021-07-01 00:20:00
3         2021-07-01 00:30:00
4         2021-07-01 00:40:00
                 ...
135934    2024-01-30 23:20:00
135935    2024-01-30 23:30:00
135936    2024-01-30 23:40:00
135937    2024-01-30 23:50:00
135938    2024-01-31 00:00:00
Name: Fecha, Length: 135939, dtype: object

### Funcion para levantar las columnas con los nodos que querramos, y guardar en un csv con los nombres de los buses

In [46]:
def create_dataset(path, buses, name=None):
    original_data = pd.read_csv(path)
    clean_data = pd.DataFrame(columns=buses.keys())
    clean_data['Fecha'] = pd.to_datetime(clean_data['Fecha'])
    for bus in buses:
        if bus != 'Fecha':
            clean_data[bus] = original_data[bus]
            clean_data = clean_data.rename(columns={bus: buses[bus]})
            clean_data = clean_data.applymap(convertir_a_cero)
    if 'Fecha' in buses:
        clean_data['Fecha'] = original_data['Fecha']
    if name:
        clean_data.to_csv(datos_path + name, index=False)

    return clean_data

def convertir_a_cero(elemento):
    if isinstance(elemento, str):
        return 0
    else:
        return elemento

In [47]:

buses = {'Fecha': 'Fecha',
        'VILLAROD.030 GE EOL MED Q.AV': '90000',
         'TMACIEL2.030 GE EOL MED Q.AV': '91290',
         'ACIELO.000 GE INV MED P.AV': '92400'}

create_dataset(datos_path+'GEN_total.csv', buses)

/var/folders/pq/p8msjkrx53q8b1ts29trjghw0000gn/T/ipykernel_93294/360215318.py:9: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448) have mixed types. Specify dtype option on import or set low_memory=False.
  original_data = pd.read_csv(path)

                      Fecha  90000      91290     92400
0       2021-07-01 00:00:00  0.000   0.000000  0.000000
1       2021-07-01 00:10:00  0.000   0.000000  0.000000
2       2021-07-01 00:20:00  0.000   0.000000  0.000000
3       2021-07-01 00:30:00  0.000   0.000000  0.000000
4       2021-07-01 00:40:00  0.000   0.000000  0.000000
...                     ...    ...        ...       ...
135934  2024-01-30 23:20:00  0.185 -14.612934  0.153615
135935  2024-01-30 23:30:00  0.185 -14.568834  0.153615
135936  2024-01-30 23:40:00  0.185 -14.568834  0.153615
135937  2024-01-30 23:50:00  0.185 -15.699850  0.153615
135938  2024-01-31 00:00:00  0.185 -14.524735  0.153615

[135939 rows x 4 columns]